// out:estilos.css, nib: true
@import "../styl/_variables"
@import "../styl/_tabla"
@import "../styl/_base"
@import "../styl/_formulario"
@import "../styl/_boton"

.header
  &__titulo
    font-weight 300
    text-align center
    font-family Open Sans
    text-transform uppercase
    color #eee
    margin-top 5em
    span
      color amarillo
      font-weight 700
