#titulo{
	text-align: center;
}
#ipBinario {

	text-align: center;
}

#mascaraBinario {

	text-align: center;
}


#claseDeRed {

	text-align: center;
}

#dirDeRed {

	text-align: center;
}

#dirDeBroadcast {

	text-align: center;
}

#numerodeHost {

	text-align: center;
}
#numerodeSubRed {

	text-align: center;
}

header {
    color: #eee;
}

.label1 {
    text-align: center;
}