#titulo{
	text-align: center;
}
#ipBinario {

	text-align: center;
	color: rgba(0, 103, 156, 1);
}

#mascaraBinario {

	text-align: center;
}


#claseDeRed {

	text-align: center;
}

#dirDeRed {

	text-align: center;
}

#dirDeBroadcast {

	text-align: center;
}

#numerodeHost {

	text-align: center;
}
#numerodeSubRed {

	text-align: center;
}
#ipBinario2 {

	text-align: center;
}

header {
    color: #eee;
}

.label1 {
    text-align: center;
}
#error {

	text-align: center;
	color: rgba(175, 0, 0, 0.8);
	font-size: 1.3em;
}

