.tabla
  margin-top 10em
  text-align center
  &__titulo
    color amarillo
    font-size 1.1em
    font-family Open Sans
    text-transform uppercase
    font-weight bold
  &__resultado
    color white
    font-size 1.1em
    font-family Open Sans
    text-transform uppercase
    // font-weight bold
