// out:../css/estilos.css, nib: true
@import "_variables"
@import "_tabla"
@import "_base"
@import "_formulario"
@import "_boton"

.header
  &__titulo
    font-weight 300
    text-align center
    font-family Open Sans
    text-transform uppercase
    color #eee
    margin-top 4em
    span
      color amarillo
      font-weight 700
